.header .menu{

  clear:both;margin:0 auto;z-index:8888;

  &>ul{
    padding:0;font-size:1em;line-height:1.25;text-align:center;
    &>li{
      display:inline-block;min-width:7em;
      &>a{padding:0 .9em;height:2.2em; line-height:2.3em;
        &:hover, &:focus{
          background-color: var(--menu_top_a_hover_bgc);
          color: var(--menu_a_hover_color);
        }
      }
      &:hover>a {
        background-color: var(--menu_top_a_hover_bgc);
        color: var(--menu_a_hover_color);
      }
    }
    ul{background-color: var(--menu_bgc);}
  }

  li{
    position:relative;
    &.hasChild>ul{z-index:999;}
    a{
      display:block;outline:none;text-decoration:none;
      color: var(--menu_a_color);
      &:hover, &:focus {
        background-color:var(--menu_a_hover_bgc);
        color:var(--menu_a_hover_color);
      }
    }
    &:hover>a {
      color: var(--menu_a_hover_color);
      background-color: var(--menu_a_hover_bgc);
    }
    ul{
      display:none;position:absolute;top:auto;left:0;
      overflow:visible;
      width:170px;padding:0;margin-top:-2px;
      font-size:1em;text-align:left;
      background:var(--menu_bgc);
      border:1px solid var(--menu_bdr_color);
      box-shadow:var(--menu_shadow_color) 0 5px 12px;

      ul{top:0;left:170px;margin-top:-1px;}
    }
    li{
      border-top:1px solid var(--menu_bdr_color);
      a{padding:.5em .6em;}
      &:first-child{border:none;}

      &.hasChild{
        &>a{
          padding-right:2em;
          &::after{
            content:'';position:absolute;right:10px; top:.9em;
            width:10px;height:10px;transform:rotate(45deg);
            border:3px solid var(--menu_a_after_tinge);
            border-bottom:none;border-left:none;
          }
        }
        &:hover>a,
        &>a:hover, &>a:focus{
          &::after{ border-color:var(--menu_a_hover_color); }
        }
      }
    }
  
  }
}

/* megaMenu */
.header .megaMenu{
  position:relative;
  li{position:static;line-height:1.25;
    a{display:block;outline:none;text-decoration:none;}
  }

  &>ul{
    text-align: center;font-size: 16px;line-height:1.25;
    &>li{
      display: inline-block;min-width:5em;
      ul{width: 90%;margin: 0 auto;}
      &>a{
        padding:0 .9em;height:2.2em;line-height:2.3em;
        color:var(--menu_a_color);
        &:hover, &:focus {
          background-color: var(--menu_top_a_hover_bgc);
          color: var(--menu_a_hover_color);
        }
      }
      &:hover>a {
        background-color: var(--menu_top_a_hover_bgc);
        color: var(--menu_a_hover_color);
      }

      /* 第二層 */
      &>ul { 
        display: none;
        position: absolute;top: auto;left: 50%;
        width: 92%;margin-top: 0;margin-left: -48%;padding: .6em 2%;
        text-align: left;
        overflow-y: scroll;
        box-shadow: var(--menu_shadow_color) 0 2px 18px;
        background-color:var(--menu_bgc);
        li{
          margin: 0;padding: 0;
          a{
            position: relative;
            padding:.6em .8em .6em 30px;
            &::before {
              content: '';position: absolute; top: 1em; left: 12px;
              width: 8px;height: 8px;
              background: var(--menu_a_after_tinge);
            }
            &:hover, &:focus {
              background-color:var(--menu_a_hover_bgc);
              color:var(--menu_a_hover_color);
              &::before{background: var(--menu_a_hover_color);}
            }
          }

          ul{ margin-left: 12px; width: auto;}
        }
        &>li {
          display: inline-block;vertical-align: top;
          width: 24%;margin: 4px .1% .7em;
          border: 1px solid var(--menu_bdr_color);
          li{
            border-top: 1px dotted var(--menu_bdr_color);
            &>a{
              padding-left: 22px;
              &::before{ width: 6px; height: 6px; left: 9px;}
            }
          }
        }
      }
    }
  }

  ul ul ul{ display:block; position:static;width: 100%;margin: 0;font-size: .9em;}
  ul ul ul ul { display:none; }
}



