.header .menu {
  clear: both;
  margin: 0 auto;
  z-index: 8888;
}
.header .menu > ul {
  padding: 0;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
}
.header .menu > ul > li {
  display: inline-block;
  min-width: 7em;
}
.header .menu > ul > li > a {
  padding: 0 0.9em;
  height: 2.2em;
  line-height: 2.3em;
}
.header .menu > ul > li > a:hover,
.header .menu > ul > li > a:focus {
  background-color: var(--menu_top_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .menu > ul > li:hover > a {
  background-color: var(--menu_top_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .menu > ul ul {
  background-color: var(--menu_bgc);
}
.header .menu li {
  position: relative;
}
.header .menu li.hasChild > ul {
  z-index: 999;
}
.header .menu li a {
  display: block;
  outline: none;
  text-decoration: none;
  color: var(--menu_a_color);
}
.header .menu li a:hover,
.header .menu li a:focus {
  background-color: var(--menu_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .menu li:hover > a {
  color: var(--menu_a_hover_color);
  background-color: var(--menu_a_hover_bgc);
}
.header .menu li ul {
  display: none;
  position: absolute;top: auto;left: 0;overflow: visible;
  width: 170px;padding: 0;margin-top: -2px;
  font-size: 1em;text-align: left;
  background: var(--menu_bgc);
  border: 1px solid var(--menu_bdr_color);
  box-shadow: var(--menu_shadow_color) 0 5px 12px;
}
.header .menu li ul ul {
  top: 0;left: 170px;margin-top: -1px;
}
.header .menu li li {
  border-top: 1px solid var(--menu_bdr_color);
}
.header .menu li li a {
  padding: 0.5em 0.6em;
}
.header .menu li li:first-child {
  border: none;
}
.header .menu li li.hasChild > a {
  padding-right: 2em;
}
.header .menu li li.hasChild > a::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 0.9em;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 3px solid var(--menu_a_after_tinge);
  border-bottom: none;
  border-left: none;
}
.header .menu li li.hasChild:hover > a::after,
.header .menu li li.hasChild > a:hover::after,
.header .menu li li.hasChild > a:focus::after {
  border-color: var(--menu_a_hover_color);
}


/* megaMenu */
.header .megaMenu {
  position: relative;
}
.header .megaMenu li {
  position: static;
  line-height: 1.25;
}
.header .megaMenu li a {
  display: block;
  outline: none;
  text-decoration: none;
}
.header .megaMenu > ul {
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
}
.header .megaMenu > ul > li {
  display: inline-block;
  min-width: 5em;
}
/* 第二層 */
.header .megaMenu > ul > li ul {
  width: 90%;
  margin: 0 auto;
}
.header .megaMenu > ul > li > a {
  padding: 0 0.9em;
  height: 2.2em; line-height: 2.3em;
  color: var(--menu_a_color);
}
.header .megaMenu > ul > li > a:hover, .header .megaMenu > ul > li > a:focus {
  background-color: var(--menu_top_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .megaMenu > ul > li:hover > a {
  background-color: var(--menu_top_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .megaMenu > ul > li > ul {
  display: none;
  position: absolute;
  top: auto;
  left: 50%;
  width: 92%;
  margin-top: 0;
  margin-left: -48%;
  padding: 0.6em 2%;
  text-align: left;
  overflow-y: scroll;
  box-shadow: var(--menu_shadow_color) 0 2px 18px;
  background-color: var(--menu_bgc);
}
.header .megaMenu > ul > li > ul li {
  margin: 0;
  padding: 0;
}
.header .megaMenu > ul > li > ul li a {
  position: relative;
  padding: 0.6em 0.8em 0.6em 30px;
}
.header .megaMenu > ul > li > ul li a::before {
  content: '';
  position: absolute;
  top: 1em;
  left: 12px;
  width: 8px;
  height: 8px;
  background: var(--menu_a_after_tinge);
}
.header .megaMenu > ul > li > ul li a:hover,
.header .megaMenu > ul > li > ul li a:focus {
  background-color: var(--menu_a_hover_bgc);
  color: var(--menu_a_hover_color);
}
.header .megaMenu > ul > li > ul li a:hover::before,
.header .megaMenu > ul > li > ul li a:focus::before {
  background: var(--menu_a_hover_color);
}
.header .megaMenu > ul > li > ul li ul {
  margin-left: 12px;
  width: auto;
}
.header .megaMenu > ul > li > ul > li {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin: 4px 0.1% 0.7em;
  border: 1px solid var(--menu_bdr_color);
}
.header .megaMenu > ul > li > ul > li li {
  border-top: 1px dotted var(--menu_bdr_color);
}
.header .megaMenu > ul > li > ul > li li > a {
  padding-left: 22px;
}
.header .megaMenu > ul > li > ul > li li > a::before {
  width: 6px;
  height: 6px;
  left: 9px;
}
.header .megaMenu ul ul ul {
  display: block;
  position: static;
  width: 100%;
  margin: 0;
  font-size: 0.9em;
}
.header .megaMenu ul ul ul ul {
  display: none;
}



