  /* 版頭的查詢區 search  2024/10 修改 */
.header .search {
  --bgc: rgb(0 0 0 / .7);
  --btnBg:#444;
  --btnBg2:#777;
  --tinge: #fff;
  --kwFontColor: #000;
  --kwBgc: #fff;


  position: fixed;top: auto;left: 0;right: 0;
  padding: 12px;
  background: var(--bgc);

  .keywordHot{display: none;}

  form{
    display: flex; align-items: center;
    margin: 0 auto; padding: 0; max-width: 520px;
    
    input{height: 2.8em; line-height: 2.8;}
    
    input[type="text"]{
      flex: 1 1 auto; 
      margin: 0; border-radius: 0; border: none;
      background-color: #fff;
      &:hover, &:focus { box-shadow: var(--btnBg2) 0 0 0 1px inset;}
      &:focus {box-shadow: var(--btnBg2) 0 0 0 2px inset;}
    }
    input[type="submit"], input[type="button"] {
      flex: 0 0 2.8em; width: 2.8em;
      text-indent: -20em; overflow: hidden;
      margin: 0 8px 0 0;
      background: var(--btnBg) url(../images/search_submit.png) no-repeat center center;
      background-size: 60%;
      &:hover ,
      &:focus { background-color: var(--btnBg2); outline: none;}
    }

    a.btnAdv {
      display: inline-block; height: 2em; line-height: 2;
      white-space: nowrap; padding: 0 4px;
      text-decoration: none; color: var(--tinge); 
      &:hover, &:focus{
        text-decoration: underline;
      }
      &:focus{outline: 1px solid var(--tinge);}
    }
  }

  @media screen and (min-width: 1000px){

    position: absolute; left: auto; right: 20px;top: 2.7em;
    padding: 0; width: min-content; max-width: 30%;

    /* 熱門查詢詞 */
    .keywordHot {   
      display: block;
      ul{ 
        list-style: none; margin: 0;padding: 0; overflow: hidden;
        line-height: 1.2;
      }
      li{
        margin: 0 .5em 2px 0; padding: 0; float: left;
        a{
          display: block; color: var(--kwFontColor); text-decoration: underline;
          padding: 1px 2px 0;
          &:hover, &:focus { text-decoration: none;}
          &:focus { background-color: var(--kwBgc); }
        }
      }
    }
    form { 
      max-width: none;
      input{height: 2.4em; line-height: 2.4;}
      input[type="text"]{ flex: 0 0 10em;}
      input[type="submit"], input[type="button"]{ flex-basis: 2.4em; width: 2.4em;}
    }
  }
}