/* 行動版隱藏式側欄 */
.sidebar {
  --bgc: #3f4534;
  --closeBtn_bgc: #a2cb0d;
  --closeBtn_hover_bgc: #b5e119;
  --menu_bgc: #199986;
  --menu_hover_bgc: #0a7d6c;
  --menuA_color: #fff;
  --menu_bdrColor: #000;
  --menu_bdrColor2: #000;
  --navA_color: #000;
  --navA_bgc: #ecb322;
  --navA_hover_bgc: #fdd600;
  --nav_bdrColor: #3f4534;
  --sidebarClose_bgc: #a2cb0d;
  --sidebarClose_hover_bgc: #cae80a;
  --sidebarClose_color: #000;

  display: none;
  z-index: 9000;
  position: fixed;
  top: 0;
  height: 100%;
  width: 280px;
  overflow-y: auto;
  translate: -100% 0;
  transition: 0.4s;
  background-color: var(--bgc);
}
.sidebar.show {
  translate: 0 0;
}
.sidebar .menu {
  background-color: var(--menu_bgc);
}
.sidebar .menu ul,
.sidebar .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .menu > ul {
  font-size: 1.2em;
}
.sidebar .menu li {
  line-height: 1.3;
}
.sidebar .menu li a {
  display: block;
  padding: 0.7em 12px;
  color: var(--menuA_color);
  text-decoration: none;
  transition: 0.4s;
}
.sidebar .menu li > a:hover,
.sidebar .menu li > a:focus {
  background-color: var(--menu_hover_bgc);
}
.sidebar .menu li li:last-child > a {
  border-bottom: none;
}
.sidebar .menu li.hasChild > a {
  padding-right: 36px;
  position: relative;
  border-bottom: 1px solid transparent;
}
.sidebar .menu li.hasChild > a::before {
  content: '';
  position: absolute;
  right: 16px;
  top: 0.8em;
  width: 0.64em;
  line-height: 0.64em;
  height: 0.64em;
  border: 2px solid var(--menuA_color);
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  transition: 0.3s;
}
.sidebar .menu li.hasChild.closeThis {
  padding-bottom: 12px;
}
.sidebar .menu li.hasChild.closeThis > a {
  border-bottom-color: var(--menu_bdrColor2);
}
.sidebar .menu li.hasChild.closeThis > a::before {
  transform: rotate(225deg);
  top: 1.1em;
}
.sidebar .menu li.hasChild li {
  border-bottom: 1px solid var(--menu_bdrColor2);
}
.sidebar .menu li.hasChild li:last-child {
  border: none;
}
.sidebar .menu ul ul {
  display: none;
  margin: 0 10px;
  font-size: 0.9em;
  border: 1px solid var(--menu_bdrColor);
  border-top: none;
}
.sidebar .menu ul ul ul {
  font-size: 1em;
}
.sidebar .menu > ul > li > a,
.sidebar .menu > ul > li.hasChild > a {
  border-bottom: 1px solid var(--menu_bdrColor);
}
.sidebar .navigation {
  position: static;
  text-align: center;
  padding: 1em 0;
}
.sidebar .navigation ul {
  float: none;
  width: 92%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
}
.sidebar .navigation li {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.sidebar .navigation li:nth-child(odd):last-child {
  width: 100%;
}
.sidebar .navigation li > a {
  display: block;
  height: 3.2em;
  line-height: 3.2em;
  padding: 0 0.5em;
  text-decoration: none;
  color: var(--navA_color);
  background: var(--navA_bgc);
  box-shadow: var(--nav_bdrColor) 0 0 0 1px;
}
.sidebar .navigation li > a:hover,
.sidebar .navigation li > a:focus {
  background-color: var(--navA_hover_bgc);
}
.sidebar .sidebarClose {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 3.2em;
  line-height: 3.2em;
  box-shadow: none;
  background-color: var(--sidebarClose_bgc);
  color: var(--sidebarClose_color);
}
.sidebar .sidebarClose:hover,
.sidebar .sidebarClose:focus {
  background-color: var(--sidebarClose_hover_bgc);
}