/* 行動版隱藏式側欄 */
.sidebar{
  --bgc: #3f4534;
  --closeBtn_bgc: #a2cb0d;
  --closeBtn_hover_bgc: #b5e119;

  --menu_bgc: #199986;
  --menu_hover_bgc: #0a7d6c;
  --menuA_color: #fff;
  --menu_bdrColor : rgb(255 255 255 / .6);
  --menu_bdrColor2 : rgb(255 255 255 / .3);

  --navA_color: #000;
  --navA_bgc: #ecb322;
  --navA_hover_bgc: #fdd600;
  --nav_bdrColor: #3f4534;

  --sidebarClose_bgc: #a2cb0d;
  --sidebarClose_hover_bgc: #cae80a;
  --sidebarClose_color: #000;



	display: none;z-index:9000;
	position:fixed;top:0;height:100%;width:280px;overflow-y:auto;
	translate: -100% 0;
	transition: .4s ;
  background-color: var(--bgc);

  &.show{ translate: 0 0; }

  .menu{
    background-color: var(--menu_bgc);
    ul, li{list-style: none; margin: 0;padding: 0;}
    &>ul{font-size:1.2em;}
    li{
      line-height:1.3;
      a{display:block;padding:.7em 12px;color:var(--menuA_color);text-decoration:none;transition:.4s;}
      &>a{
        &:hover, &:focus{ background-color: var(--menu_hover_bgc); }
      }
      li:last-child>a{border-bottom:none;}
      &.hasChild{
        &>a{
          padding-right:36px;position:relative;
          border-bottom:1px solid transparent;
          &::before{
            content:'';position:absolute;right:16px;top:.8em;
            width:.64em;line-height:.64em;height:.64em;
            border:2px solid var(--menuA_color);transform:rotate(45deg);
            border-top:none;border-left:none;
            transition:.3s;
          }
        }
        &.closeThis{
          padding-bottom:12px;
          &>a{
            border-bottom-color:var(--menu_bdrColor2);
            &::before{transform:rotate(225deg);top:1.1em;}
          }
        }
        li{
          border-bottom:1px solid var(--menu_bdrColor2);
          &:last-child{ border: none;}
        }
      }
    }
    ul ul{display:none;margin:0 10px; font-size:.9em;
      border:1px solid var(--menu_bdrColor);
      border-top:none;
    }
    ul ul ul{font-size:1em;}

    &>ul>li>a,
    &>ul>li.hasChild>a{border-bottom:1px solid var(--menu_bdrColor);}

  }

  /* navigation */
	.navigation{
    position:static;text-align:center;padding:1em 0;
    ul{float:none;width:92%; margin:0 auto;padding:0;font-size:1em;overflow:hidden;}
    li{float:left;width:50%;margin:0;padding:0;
      &:nth-child(odd):last-child{width:100%;}
      &>a {
        display: block;height: 3.2em;line-height: 3.2em;padding: 0 .5em;text-decoration: none;
        color: var(--navA_color);
        background: var(--navA_bgc);
        box-shadow: var(--nav_bdrColor) 0 0 0 1px;
        &:hover, &:focus { background-color: var(--navA_hover_bgc);}
      }
    }
  }
  
  /* 關閉 */
  .sidebarClose {
    display:block;width:100%;padding:0;margin:0;height:3.2em;line-height:3.2em;
    box-shadow: none;
    background-color:var(--sidebarClose_bgc); color: var(--sidebarClose_color);
    &:hover, &:focus{
      background-color:var(--sidebarClose_hover_bgc);
    }
  }
}