/*styleC*/
:root{
	--primaryColor: #f0c133;
	--secondaryColor:#3f4534;
	--assistance1: #fe6;
	--assistance2: #dc4e32;
	--assistance3: #c70e69;
	--assistance4: #9c2b99;

	--fontColor: #393939;
	--fontColorDark: #000; 
}



/* a.goCenter{background: #fe5;} */


/* 202410 */
/* -------------------------------------------------------------------------------- */
.header{
	--bgc: var(--primaryColor);
	--bgcFixed: rgb(240 193 59 / .95);
	--focusOutlineColor: #fffbe0;
}
.header .navigation{
	--bgc: #3f4534;
	--fontColor: #fffbe0;
	--tinge: #ff8e1d;
}


/*  */
.sidebarCtrl, .searchCtrl{
	--tinge: #443;
	--bgc: transparent;
}
.sidebarCtrl:hover, .sidebarCtrl:focus ,
.searchCtrl:hover, .searchCtrl:focus {
	--bgc: #ffeb38;
}

.searchCtrl.close {
	--tinge: #443;
	--bgc: #ffeb38;
}
.searchCtrl.close:hover, .searchCtrl.close:focus {
	--tinge: #443;
	--bgc: #ffeb38;
}

/* 版頭查詢區 202410*/
.header .search {
  --bgc: rgb(0 0 0 / .7);
  --btnBg:#44b013;
  --btnBg2:#93c622;
  --tinge: #ffe749;
  --kwFontColor: #3f4534;
  --kwBgc: #ffe749;
}
@media screen and (min-width: 1000px){
	.header .search {
		--bgc: transparent;
		--tinge: #000;
	}
}


/* 側欄 */
/* -------------------------------------------------------------------------------- */
.sidebar{
  --bgc: #3f4534;
  --closeBtn_bgc: #a2cb0d;
  --closeBtn_hover_bgc: #b5e119;

  --menu_bgc: #d97613;
  --menu_hover_bgc: #d15101;
  --menuA_color: #fff;
  --menu_bdrColor : #f9bb6c;
  --menu_bdrColor2 : #df9438;

  --navA_color: #000;
  --navA_bgc: #f0c13b;
  --navA_hover_bgc: #ffeb38;
  --nav_bdrColor: #3f4534;

  --sidebarClose_bgc: #a20554;
  --sidebarClose_hover_bgc: #c70e69;
  --sidebarClose_color: #fff;
}


/* 寬版主選單 */
/* -------------------------------------------------------------------------------- */
.header .menu, .header .megaMenu {
	--menu_bgc: #fff;
  --menu_top_a_hover_bgc:#3f4534;
  --menu_a_color:#000;
  --menu_a_hover_bgc:#e17c1a;
  --menu_a_hover_color:#fff;
	--menu_a_after_tinge:#e17c1a;
  --menu_bdr_color:#ccc;
  --menu_shadow_color : rgb(0 0 0 / .5);
}


/* more */
/* -------------------------------------------------------------------------------- */
.more a {
	border-radius: 5px;
	color: var(--fontColor);
}
.more a::after {
	content: '';
	display: inline-block;width: 0;height: 0;
	border-width: 6px 0 6px 9px;
	border-style: solid;
	border-color: transparent transparent transparent var(--fontColor);
	vertical-align: middle;
	margin: -4px 0 auto 6px;
}
.more a:hover {
	background: rgb(255 255 255 / .5);
	box-shadow: rgb(0 0 0 / .4) 0 0 5px 1px;
}
.more a:focus {
	--fontColor: #fff;

	background-color: var(--assistance4);
	box-shadow:none;
}
/* -------------------------------------------------------------------------------- */



/* newsType1, .newsType2 AND  .newsType3, .newsType4, .newsType5 */
/* -------------------------------------------------------------------------------- */
.newsType1, .newsType2, .newsType3, .newsType4, .newsType5{
	--h2_bgc: #c70e69;
	--a_before_bgc: #d10085;
}

.cx3>.newsType1 , .cx3>.newsType2{	background-color:#fff;}
.cx3>.newsType1:nth-child(3n+1),
.cx3>.newsType2:nth-child(3n+1) {--h2_bgc: #dc4e32;--a_before_bgc: #dc4e32;}
.cx3>.newsType1:nth-child(3n+2),
.cx3>.newsType2:nth-child(3n+2) {--h2_bgc: #c70e69;--a_before_bgc: #c70e69;}
.cx3>.newsType1:nth-child(3n+3),
.cx3>.newsType2:nth-child(3n+3) {--h2_bgc: #ac3ca8;--a_before_bgc: #ac3ca8;}

.cx4>.newsType1:nth-child(4n+1),
.cx4>.newsType2:nth-child(4n+1) {--h2_bgc: #dc4e32; --a_before_bgc: #dc4e32;}
.cx4>.newsType1:nth-child(4n+2),
.cx4>.newsType2:nth-child(4n+2) {--h2_bgc: #c70e69; --a_before_bgc: #c70e69;}
.cx4>.newsType1:nth-child(4n+3),
.cx4>.newsType2:nth-child(4n+3) {--h2_bgc: #ac3ca8; --a_before_bgc: #ac3ca8;}
.cx4>.newsType1:nth-child(4n+4),
.cx4>.newsType2:nth-child(4n+4) {--h2_bgc: #6930a8; --a_before_bgc: #6930a8;}
/* -------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */


.row:nth-child(odd){background-color:#f0f2f3;}
.row:nth-child(even){background-color:#fff;}
.gutter>section,
.gutter1>section{background-color:#fff;}
.gutter>section:only-child,
.gutter1>section:only-child{background-color:transparent;}


.tabItem a,
.albumType4 .tabItem a{background:#d3d3d3;color:#555;}
.tabItem a:hover,
.tabItem a:focus{background:#bbb;color:#222;outline:none;}
.tabItem.active a,
.albumType4 .tabItem.active a{background:#bb2965;color:#fff;}
.tabItem.active a::after{background:#bb2965;}
.tabItem.active a:focus{background:#ff50a0;color:#000;}
.tabItem.active a:focus::after{background:#ff50a0;}

.tabContent{background:#fff;}

.albumType4 .tabContent{background:#000;}
.albumType4 .tabItem.active a::after{background:#e17c1a;}

@media screen and (max-width:600px) {
	.albumType4{background:#e17c1a;}
	.albumType4 .tabItem a,
	.albumType4 .tabItem.active a{background:none;color:#fff;}
	.tabItem a::after{background:none;border-color:#664;}
	.tabItem.active a::after{background:none;border-color:#fff;}
}





.iconType1:only-child,
.gutter>.iconType1:only-child,
.gutter1>.iconType1:only-child{color:#5f5a44;background:#ebe9d7;}
.iconType1:only-child li a{border-radius:5px;transition:.3s;background:#85ab00;color:#fff;}
.iconType1:only-child li a:hover,
.iconType1:only-child li a:focus{box-shadow:rgba(0,0,0,.4) 0 1px 7px 1px inset;background-color:#418e0d}
.iconType1.circle:only-child li a img{background:#e79911;box-shadow:#e79911 0 0 0 2px;transition:.2s;}
.iconType1.circle:only-child li a{color:#5f5a44;background:none;}
.iconType1.circle:only-child li a:hover{box-shadow:none;background:none;color:#110;}
.iconType1.circle:only-child li a:hover img,
.iconType1.circle:only-child li a:focus img{box-shadow:#e8a311 0 0 0 4px;background-color:#bb2965}

.cx2>.iconType1 ul{margin-top:0;}
.cx2>.iconType1 li{margin-top:2px;margin-bottom:2px;border-bottom:1px solid #ddd;}
.cx2>.iconType1 li:hover{border-color:#000;}
.cx2>.iconType1 li a{box-shadow:none;border-radius:0;}
.cx2>.iconType1 li a:focus{color:#d60;outline:none;box-shadow:#d60 0 0 2px 1px;}
.cx2>.iconType1.circle li a img {background:#f7f6ee;box-shadow:#fff 0 0 0 2px inset;transition:.2s;}
.cx2>.iconType1.circle li a:hover img,
.cx2>.iconType1.circle li a:focus img{box-shadow:#e17c1a 0 0 0 2px inset;background:#fff;}

.iconType2,
.gutter>.iconType2,
.gutter1>.iconType2,
.gutter>.iconType2:only-child,
.gutter1>.iconType2:only-child{background:#ffdab9;color:#000;}
.iconType2 a{color:#000;}
.iconType2 li a{border-radius:5px;transition:.3s;}
.iconType2 li a:hover,
.iconType2 li a:focus{box-shadow:rgba(0,0,0,.5) 0 0 12px inset;background-color:rgba(0,0,0,.15);}

.iconType2.circle li img{background:#ecac31;transition:.2s;}
.iconType2.circle li a:hover,
.iconType2.circle li a:focus{box-shadow:none;background:none;}
.iconType2.circle a:hover img,
.iconType2.circle a:focus img{box-shadow:#fff 0 0 0 2px;background:#e17c1a;}

.iconType3,
.gutter>.iconType3,
.gutter1>.iconType3,
.gutter>.iconType3:only-child,
.gutter1>.iconType3:only-child{background:#267f84;color:#fff;}
.iconType3 a{color:#fff;}
.iconType3 li a{border-radius:5px;transition:.3s;}
.iconType3 li a:hover,
.iconType3 li a:focus{box-shadow:rgba(0,0,0,.5) 0 0 12px inset;background-color:rgba(0,0,0,.15);}
.iconType3 .arbtn::before{border-color:rgba(255,255,255,.5);}
.iconType3 .arbtn:hover::before{border-color:#fff;}

.iconType3.circle li img{background:#ecac31;transition:.2s;}
.iconType3.circle li a:hover,
.iconType3.circle li a:focus{box-shadow:none;background:none;}
.iconType3.circle a:hover img,
.iconType3.circle a:focus img{box-shadow:#fff 0 0 0 2px;background:#e17c1a;}

/*.iconType1:only-child .more a,*/
/*.iconType2 .more a,*/
.iconType3 .more a{color:#fff;}
/*.iconType1:only-child .more a:hover,*/
/*.iconType2 .more a:hover,*/
.iconType3 .more a:hover,
.iconType1:only-child .more a:focus,
/*.iconType2 .more a:focus,*/
.iconType3 .more a:focus{background:rgba(0,0,0,.3);box-shadow:#fff 0 0 4px 1px;}
/*.iconType1:only-child .more a::after,*/
/*.iconType2 .more a::after,*/
.iconType3 .more a::after{border-left-color:#fff;}

.iconType4{background-color:#f7f6ee;}
.iconType4 li a{color:#444;background:#f0c13b;transition:.2s;}
.iconType4 li a:hover,
.iconType4 li a:focus{background:#e17c1a;color:#fff;box-shadow:#e17c1a 0 0 0 3px;}

.iconType5.circle li a:hover img,
.iconType5.circle li a:focus img{background:#bb2965;box-shadow:#fff 0 0 0 3px;}

.iconType6,
.gutter section.iconType6,
.gutter1 section.iconType6{background: #0aa3b3;}
.iconType6 li a{box-shadow: none;}
.iconType6.circle li a{color: #fff}
.iconType6 li a:hover,
.iconType6 li a:focus{box-shadow:#0aa3b3 0 0 0 1px, #7ef 0 0 0 4px;}
.iconType6.circle li a:hover img,
.iconType6.circle li a:focus img{box-shadow: #7ef 0 0 0 4px;}
.iconType6 .more a{background-color: #fff;}



/* link link link link link */

.linkType1 h2,
.linkType1 h2{color:#333;}
.linkType1 li>a,
.linkType2 li>a{border-color:#aca994;}
.linkType1 li>a:hover,
.linkType1 li>a:focus,
.linkType2 li>a:hover,
.linkType2 li>a:focus{color:#000;outline:none;}
.linkType1 li>a::before,
.linkType2 li>a::before{background:#84a;}
.linkType1 .more a,
.linkType2 .more a{color:#444;}
.linkType1 .more a:hover,
.linkType2 .more a:focus{color:#fff;background:#c70e69;}

.linkType3,
.linkType4,
.gutter>.linkType3,
.gutter>.linkType4,
.gutter1>.linkType3,
.gutter1>.linkType4{background:#2a9bca;color:#fff;}
.linkType3 h2,
.linkType4 h2{font-weight:normal;}
.linkType3 li>a{color:#fff;border-color:rgba(255,255,255,.3);}
.linkType3 li>a:hover,
.linkType3 li>a:focus{border-color:#fff;}

.linkType4 li>a{background-color:#fff;}
.linkType4 li>a:hover,
.linkType4 li>a:focus{color:#000;}

.linkType5{box-shadow:#bbb 0 0 0 1px;}
.linkType5 li a{border-bottom:1px solid transparent;position:relative;border-bottom:1px solid transparent;}
.linkType5 li a::before{border-left-color:#c70e69 }

.linkType6,
.gutter>.linkType6,
.gutter1>.linkType6{background:#bb2965;color:#fff;}
.linkType6 + .linkType6{background:#e17c1a;}
.linkType6 + .linkType6 + .linkType6{background:#bb2965;}
.linkType6 + .linkType6 + .linkType6 + .linkType6{background:#e17c1a;}
.row:not(.gutter):not(.gutter1)>section.linkType6{box-shadow:none;}
.linkType6 a{color:#fff;}
.row>section.linkType6 h2{border-color:#fff;}
.linkType6 li>a{border-color:rgba(255,255,255,.5);}
.linkType6 li>a:hover,
.linkType6 li>a:focus{border-color:#fff;}
.linkType6 li>a::before{background:#fe0;}
.linkType6 li>a:hover::before,
.linkType6 li>a:focus::before{background:#fe0;box-shadow:#fe0 0 0 0 3px; }

.linkType3 .more a,
.linkType4 .more a,
.linkType6 .more a{color:#fff;}
.linkType3 .more a::after,
.linkType4 .more a::after,
.linkType6 .more a::after{border-left-color:#fe0;}
.linkType3 .more a:hover,
.linkType3 .more a:focus,
.linkType4 .more a:hover,
.linkType4 .more a:focus,
.linkType6 .more a:hover,
.linkType6 .more a:focus{background-color:rgba(0,0,0,.3);box-shadow:#fff 0 0 5px 1px;}



.linkType1>h2,
.linkType2>h2{border-bottom:3px solid #c70e69}


.newsType6 li a:hover::before,
.newsType6 li a:focus::before{background-color: #bb2965;}


.newsType5 p {border-color:#aead9c;}
.newsType7 li h3,
.linkType5 h2{border-bottom:4px solid #ff4088;}
.newsType7 li:nth-child(n+1) h3,
.linkType5:nth-child(n+1) h2{border-color:#ff4088;}
.newsType7 li:nth-child(n+2) h3,
.linkType5:nth-child(n+2) h2{border-color:#ed4dee;}
.newsType7 li:nth-child(n+3) h3,
.linkType5:nth-child(n+3) h2{border-color:#7c51f5;}
.newsType7 li:nth-child(n+4) h3,
.linkType5:nth-child(n+4) h2{border-color:#5079ff;}


.slide{background:#fff;}
.gutter .slide{background:none;}
.slide .dots li{background:#999;}
.slide .dots li.active{background:#e17c1a;box-shadow:#e17c1a 0 0 0 2px}
.adSlide .arbtn:hover{background:#e17c1a;}
.adSlide .arbtn:hover::before{border-color:#fff;}

.subject1.theme1 h2{background:rgba(20,150,130,.9);}
.subject1.theme2 h2{background:rgba(112,172,20,.9);}
.subject1.theme3 h2{background:rgba(252,115,0,.9);}

.subject1 .linkStyle1:nth-child(2) h3{background-color:#70ac14;}
.subject1 .linkStyle1:nth-child(3) h3{background-color:#fc7300;}
.subject1 .linkStyle1:nth-child(4) h3{background-color:#f9a403;}
.subject1 .tabs + .linkStyle1 h3{background-color:#70ac14;}



.qa .question:hover,
.qa .question:focus{background:#f6f6f0;}
.qa .question::before{background:#e17c1a;}
.qa .answer::before{background:#267f84;}
.qa .question>a::after{border-color:#267f84 }
.qa li .detail a:hover,
.qa li .detail a:focus{border-color:#e17c1a;color:#fff;background:#e17c1a }



.sns{position:relative;}
.sns ul{padding-top:.5em;padding-bottom:.5em;}
.sns::before{content:'';position:absolute;top:0;left:3%;right:3%;height:1px;background:#bbb;}


.footer{background:#fff;border-top:4px solid #e17c1a}
/* .footer>nav li a:focus{outline-color:#e17c1a } */
.footer>nav li a{border-radius: 3px;}
.footer>nav li a:hover,
.footer>nav li a:focus{background: #bb2965;color: #fff;text-decoration: none;}

.footer>section{color:#5f5c5c;background:#f9f8ec;}
.footer>section a{display:inline-block;padding:0 .3em;border-radius:3px;color:#333;}
.footer>section a:hover,
.footer>section a:focus{text-decoration:none;background:#f9c63b;color: #000;outline:none;}
.footer>section p a{margin:0 .5em;}
.fatfootCtrl{background:#e17c1a}
.fatfootCtrl:hover,
.fatfootCtrl:focus{background:#bb2965;outline:none;box-shadow:#bb2965 0 0 0 3px }

.footer .markA a:hover,
.footer .egov a:hover,
.footer .markA a:focus,
.footer .egov a:focus{box-shadow: #e17c1a 0 0 0 3px;background: #fff;}

.footer .alertCAP_forTCC h3[class^="alertCAP_forTCC_header banner"]{border-bottom: 3px solid #ebb726;}
.footer .alertCAP_forTCC_content a[class^="alertCAP_forTCC_more banner"]:hover{ background-color: #e17c1a;color: #fff;}

@media screen and (max-width:1000px) {
	/* .header .sidebarCtrl,
	.header .searchCtrl{background:none;}
	.header .searchCtrl::before,
	.header .sidebarCtrl::before{border-color:#554;}
	.header .searchCtrl::after,
	.header .sidebarCtrl::after{background:#554;}
	.header .sidebarCtrl:hover, .header .sidebarCtrl:focus,
	.header .searchCtrl:hover, .header .searchCtrl:focus{background:#ffe749;}
	.searchCtrl.close{background:#333;}
	.searchCtrl.close::before,
	.searchCtrl.close::after{background:#554;}
	.header .searchCtrl.close{background:#ffe749;} */
	.footer{padding-top:0;background:#f9f8ec;}
	.footer::before{display:none;}
}


/* *** */
.path .before::after{border-color:#7faf0b;}


.function li a:hover,
.function li a:focus{background-color:#ac0;box-shadow:#ac0 0 0 0 2px;}

.category li a:hover,
.category li a:focus{background-color:#fff;color:#000;border-color:#e17c1a;box-shadow:#e17c1a 0 0 0 1px;outline:none}
.category li.here a{background:#e17c1a;color:#fff;border-color:#e17c1a;box-shadow:#e17c1a 0 0 0 2px;}
.category li.here a:hover,
.category li.here a:focus{background:#fff;border-color:#fff;color:#000;}
.page li a:hover,
.page li a:focus{background-color:#93c622;color:#000;}
.page li.here a{color:#fff;background:#18959a;border-color:#18959a;box-shadow:#18959a 0 0 0 1px;}
.page li.here a:hover,
.page li.here a:focus{background-color:#93c622;}
.page select + input[type="submit"]:hover,
.page select + input[type="button"]:hover,
.page select + input[type="submit"]:focus,
.page select + input[type="button"]:focus{background-color:#e17c1a;box-shadow:#e17c1a 0 0 0 2px;border-radius:2px;}

.condition a{background-color:#e3e6dd}
.condition a:hover,
.condition a:focus{background-color:#93c622;color:#fff;}

.list li{border-color:#c7cdbe;}
.list li:nth-child(even),
.list tr:nth-child(odd){background:#f7f6f2;}
.list li a:hover,
.list li a:focus,
.list tr:hover,
.list tr:nth-child(odd):hover{background:#ffffdd;}
.list tr:first-child th{background:#f7f6f2;border-color:#aa9}

.list.schedule td ul li a:hover,
.list.schedule td ul li a:focus{background-color:#93c622;color:#fff;}
.navPrev a:hover,
.navNext a:hover{background-color:#93c622;}

.list.org a{background-color:#dce8cf;border-radius:4px;}
.list.org tr:hover td a:hover,
.list.org tr:hover td a:focus{background-color:#93c622;color:#fff;text-decoration:none;outline:none;}
.list.org tr:hover td[data-title*="信箱"] a:hover,
.list.org tr:hover td[data-title*="簡介"] a:hover,
.list.org tr:hover td[data-title*="信箱"] a:focus,
.list.org tr:hover td[data-title*="簡介"] a:focus{background-color:#fff;box-shadow:#93c622 0 0 0 2px;outline:none;}

.list.openData td:first-child a{border-color:#e17c1a;color:#333;}
.list.openData td:first-child a:hover,
.list.openData td:first-child a:focus{background:#fff;box-shadow:#e17c1a 0 0 0 1px;}
.dsIcon li a{background:#e17c1a;color:#fff;}
.openData .dsIcon li a:hover,
.openData .dsIcon li a:focus{box-shadow:#c20 0 0 0 2px;background:#c20;color:#fff;}


.navbar{background:#18959a;color:#fff;}
.navbar h2{font-weight:normal;}
.navbar .back,
.navbar .shareThis{background:#456668;}


@media screen and (max-width:800px){
	.category{background:#566;}
	.category a{color:#fff}
	.category a.here::before{color:#ad3 }
	.category li a:hover,
	.category li a:focus{background:none;color:#fff;box-shadow:#e6f366 0 0 0 1px;}
	.category li a{border:none;color:#fff;border-radius:4px;}
	.category li.here a,
	.category li.here a:hover,
	.category li.here a:focus{background-color:#e6f366;color:#000;box-shadow:none;}
	.cateCtrl::before{border-color:#fff;}
}


.row>.marquee{background-image:url(../images/iconMarquee2.png);}
.marquee button{background:#d7d5c3;border-radius:50%;color:#5f5a44}
.marquee button.pause{background:#e17c1a;}
.marquee button:hover{background:#e17c1a;}
.marquee button::after{border-color:#fff;}
.marquee button.pause::after{border-color:transparent transparent transparent #fff;}

.row>.search {background:#fffce6; }
.row>.search input[type="text"]{background:#fff;box-shadow:#267f84 0 0 0 1px inset;}
.row>.search input[type="text"]:focus{box-shadow:#009ba4 0 0 0 2px inset;}
.row>.search input[type="submit"]{background-color:#267f84;}
.row>.search input[type="submit"]:hover,
.row>.search input[type="submit"]:focus{background-color:#009ba4;}
.row>.search form a:hover{background-color:#009ba4;color:#fff }

.epSubscribe label{color:#000;}
.epSubscribe label input[type="text"]{box-shadow:#f0c13b 0 0 0 1px inset;background-color:#fff}
.epSubscribe label input[type="text"]:hover{background:#fff;}
.epSubscribe label input[type="text"]:focus{box-shadow:#009ba4 0 0 0 2px inset;background:#fff;}
.epSubscribe input[type="submit"]{background:#267f84;color:#fff;}
.epSubscribe input[type="submit"]:hover,
.epSubscribe input[type="submit"]:focus{background:#009ba4;outline:none;}
.epSubscribe .captcha{background-color:#f0c13b}
.epSubscribe .captcha input[type="text"]{background-color:#fffce6;border:none;}
.epSubscribe .captcha input[type="text"]:focus{box-shadow:#009ba4 0 0 0 2px;background:#fff;}
.epSubscribe .captcha button.refresh{background-color:#267f84; }
.epSubscribe .captcha button.refresh:hover,
.epSubscribe .captcha button.refresh:focus{background-color:#009ba4;outline:none;}
.epSubscribe .btnDiv input{border-color:#5aa;}

.sns2 li a:hover img,
.sns2 li a:focus img {box-shadow:#f0c13b 0 0 0 3px;background:#f0c13b;}
.epSubscribe+.sns2 ul{margin-top:-.25em;}






.preface{background:#f7f6ee;}
.function li a:hover,
.function li a:focus{background-color:#009ba4;box-shadow:#009ba4 0 0 0 2px;}




